apiVersion: v1
baseDomain: {{ cluster_base_domain }}
compute:
- hyperthreading: Enabled
  name: worker
  platform: {}
  replicas: 0
  architecture: {{ arch }}
controlPlane:
  hyperthreading: Enabled
  name: master
  platform: {}
  replicas: {{ master_replica_count }}
  architecture: {{ arch }}
metadata:
  name: {{ cluster_name }}
networking:
  clusterNetwork:
  - cidr: {{ cluster_pod_network_range }}
    hostprefix: 23
  networkType: OVNKubernetes
  serviceNetwork:
  - {{ cluster_service_network_range }}
platform:
  none: {}
fips: {{ fips_mode }}
pullSecret: '{{ pull_secret }}' 
sshKey: '{{ ssh_public_key }}'
additionalTrustBundle: |
  -----BEGIN CERTIFICATE-----
  MIIEAjCCAuqgAwIBAgIUKr7PhVVhd0GJCR+HnrsKxAZWbbIwDQYJKoZIhvcNAQEL
  BQAweDELMAkGA1UEBhMCVVMxCzAJBgNVBAgMAlZBMREwDwYDVQQHDAhOZXcgWW9y
  azENMAsGA1UECgwEUXVheTERMA8GA1UECwwIRGl2aXNpb24xJzAlBgNVBAMMHmRt
  ei1xdWF5LmVrM25wLnJiaTEucmJpLm9yZy5pbjAeFw0yNDExMjYwOTUxMTRaFw0y
  NzA5MTYwOTUxMTRaMHgxCzAJBgNVBAYTAlVTMQswCQYDVQQIDAJWQTERMA8GA1UE
  BwwITmV3IFlvcmsxDTALBgNVBAoMBFF1YXkxETAPBgNVBAsMCERpdmlzaW9uMScw
  JQYDVQQDDB5kbXotcXVheS5lazNucC5yYmkxLnJiaS5vcmcuaW4wggEiMA0GCSqG
  SIb3DQEBAQUAA4IBDwAwggEKAoIBAQC20Yqxj9kDQmwr9gjw3hoI0Veaof6YEmLS
  pC1HmqJd+U+xa+CjZEnMF9nvSHCUGWLXIovkB5LhPptKYbLLtmKH5YgiPnSIBuoi
  DnFxa+9+bZtMN4CaqVqO3lj20lCVbasImSqVREKal3MgacvCgHiuUvARXPtj6yCe
  iSPBEEv2pwjAZu81YsvHEmP5ib59muXLbeczhCKtpwFEyDvwwVLN/J+sbExKaMDl
  2FJfRxAvYTWWpyG8ceZX9nFRdj6nUwoZrvdn93aXKg8Z3YFQeCPXAgMBAAGjgYMw
  gYAwCwYDVR0PBAQDAgLkMBMGA1UdJQQMMAoGCCsGAQUFBwMBMCkGA1UdEQQiMCCC
  HmRtei1xdWF5LmVrM25wLnJiaTEucmJpLm9yZy5pbjASBgNVHRMBAf8ECDAGAQH/
  AgEBMB0GA1UdDgQWBBTZS/0icQWIYMD420vAZcNYZatdjjANBgkqhkiG9w0BAQsF
  AAOCAQEAsNCYANz4ed2MQhEJG8skA1b3qV4LmlnpPKKDFQFWEKF/NyejE0c66aec
  O0JbtIrdQxS9LNYo3H+Rr4D1LnqFmkuJlUPkXGOHLTi/ObOFfKBJW6+XhzQ8I37S
  KsfA1FqTU1SW9VBMHI4b5PJnYmBH9tzijOnXqJNsr8nV+LF+RuhiSGietCpS1LAk
  ttOkS0hkyxS3L9MClE1pUfhypg6C1jOqajDhVY1t2Khbb875f677+nlV9jN6Ql8z
  k3YAi2cUoASeoyvE2/wpCvc8fdEK6UbRgJd3lVZAuUFH0/2L4qiAtgZR9Yi2+iAV
  NJvIK/mOcFtMFR5huL78+O5kCaSHNw==
  -----END CERTIFICATE-----
imageContentSources:
  - mirrors:
    - dmz-quay.ek3np.rbi1.rbi.org.in:8443/openshift/release
    source: quay.io/openshift-release-dev/ocp-v4.0-art-dev
  - mirrors:
    - dmz-quay.ek3np.rbi1.rbi.org.in:8443/openshift/release-images
    source: quay.io/openshift-release-dev/ocp-release

